/* Layout */

body,
html {
    background-color: #000;
}

label {
    font-size: 2rem;
}

label {
    font-size: 2rem;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
    padding: 1.25rem;
    transition: 0.3s all ease;
}

.box {
    padding: 0;
    border-radius: 25px;
    overflow: hidden;
    height: 100%;
}

.box input {
    display: none;
    text-align: center;
}

.box label img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

input:checked+label {
    background: #4dafab;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.logo-container .logo img {
    margin-top: 2rem;
    display: block;
    max-width: 150px;
    width: 100%;
}

.logo-container span {
    font-weight: bold;
    text-transform: uppercase;
    color: #898989;
}

#form-submit-btn {
    background-color: #4dafab;
}

@media(max-width:767px) {
    .webform-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .webform-container button {
        margin: 0 auto;
        display: block;
        width: 100%;
    }
    .emoji-container {
        margin-bottom: 50px;
    }
}


/* Timer */

.timer {
    margin-left: 1rem;
}