#results {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.emoji-element {
    position: absolute;
    bottom: 0%;
    right: 50%;
    font-size: 2.5rem;
    width: 75px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
    animation: animateBubble 10s linear forwards, sideWays 3s ease-in-out infinite alternate;
}


/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        top: 100%;
        opacity: 1;
    }
    50% {
        top: 75%;
        opacity: 1;
    }
    100% {
        top: 50%;
        opacity: 0;
    }
}

@-moz-keyframes animateBubble {
    0% {
        top: 100%;
        opacity: 1;
    }
    50% {
        top: 75%;
        opacity: 1;
    }
    100% {
        top: 50%;
        opacity: 0;
    }
}

@keyframes animateBubble {
    0% {
        top: 100%;
        opacity: 1;
    }
    50% {
        top: 75%;
        opacity: 1;
    }
    100% {
        top: 50%;
        opacity: 0;
    }
}

@-webkit-keyframes sideWays {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(50px);
    }
}

@-moz-keyframes sideWays {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(50px);
    }
}

@keyframes sideWays {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(50px);
    }
}